.feedItem {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.orderStatus {
  color: #0cc;
}

.feedIngredientsBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedIngredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 300px;
  padding-right: 24px;
  overflow-y: auto;
}

.feedFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
