.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.formTitle {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formError {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  color: var(--colors-interface-error);
}

.formLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 60px;
  color: #8585ad;
}
