.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.formTitle {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #8585ad;
}
