.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
  border: 2px dashed transparent;
}

.dropTarget {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(60 60 170 / 10%);
  border: 2px dashed #3939b3;
  border-radius: 4px;
}

.backetItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
