.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.content {
  position: relative;
  z-index: 12;
  align-self: center;
  width: 720px;
  height: fit-content;
  min-height: 400px;
  margin: auto 0;
  padding: 40px 40px 60px;

  /* margin: 40px 0; */
  background: #1c1c21;
  border-radius: 16px;
  outline: none;
}

.modalClose {
  position: absolute;
  top: 60px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  margin: 0;
  padding: 0;
  color: #f2f2f3;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    svg {
      fill: #999;
    }
  }
}

.modalHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  margin-right: 40px;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 0 60px;
}
