body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #4c4cff;
  text-decoration: none;

  &:hover {
    color: #5681f7;
  }
}

/* flex classes */

.flex-column {
  flex-direction: column;
}

.page {
  display: flex;
  width: 100%;
  height: 100%;
}

.pageCenter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: max-content;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
