.title {
  justify-content: center;
  width: 100%;
}

.burgerIngredientsWrap {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.burgerIngredients {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.ingredientsType {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
