.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.ingredientsType {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.ingredients {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 24px;
  max-width: 600px;
}
